04. Bật Chiến Dịch.json
{
  "name": "04. Bật Chiến Dịch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2960,
        240
      ],
      "id": "181072cd-1249-4701-86b6-bf1eeced1156",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/act_1036361418710293/insights?level=campaign&fields=campaign_id,campaign_name,clicks,conversions,ctr,cpc,cpm,spend&date_preset=today&sort=campaign_name_ascending&limit=1000&access_token=EAASPNbgDZAbEBPCXi9ygnJEXEZBKR0z85s5P1YmLcRWUmqqtI0dsCNpVZCPXAiBxhvlTZBMnZBI5O1ZA9YDjw80GT3RjnRud4FZBos8sWJalYrRDqXcIJ9G8P5EP96ZCBX8mi8KFawjnrLUJufJSWpFQRPh5TvcBpAvwf6U8CKyBwSX8mZClGr1U7tZBlsxZAGZCvqlZCiRkPShaEd1eFIH4rFIbM",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2736,
        240
      ],
      "id": "80027590-d34a-401d-b2f9-226f56e5779f",
      "name": "Get Insight Campaign1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2288,
        240
      ],
      "id": "538e0699-4f4b-498a-9b36-7c4b5a5586b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2512,
        240
      ],
      "id": "8d5723b1-a82e-4076-a478-d89cc811151f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a74765-4665-4196-a462-73a024686439",
              "leftValue": "={{ $('Split Out').item.json.campaign_name }}",
              "rightValue": "Học",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        -112
      ],
      "id": "b90fe28e-3a6d-4cf5-80eb-baa4f7100638",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Status Campaign').item.json.status }}",
                    "rightValue": "PAUSED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "03c6975f-bb64-4f8c-b19f-08dcb199eff0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BAT_QUANG_CAO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6afb805-66e5-417d-9339-3d2a0b97f014",
                    "leftValue": "={{ $('Get Status Campaign').item.json.status }}",
                    "rightValue": "ARCHIVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ARCHIVED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1168,
        176
      ],
      "id": "4897f01a-78d4-46d4-9a72-221e98afbddf",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Get Status Campaign').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAL8rh1ws3MBPJ8QZAZAn3yDbVJRv9u1nEn52Kt50v8vBMlu7XatGccXGld1GC9MVbxSkSmmR29wxnFQFZCg7Hy7MW9S3OI9EbPlyif3enP8ccmhbWMJXEmhR7JHQMPSUclsobmX1d1raujebrTDl7fuISJBQhoJuILk8Kzy5DZBirbH0e24mJBSSQ0Tu2g5D2Mv1T4dVYDFoc9QMpIQyavj"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "=ACTIVE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        320
      ],
      "id": "ece6528a-5a09-464f-acb5-2a7265039e3f",
      "name": "Enable  Ads1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.campaign_id }}?fields=daily_budget,lifetime_budget,budget_remaining,status&access_token=EAASPNbgDZAbEBPCXi9ygnJEXEZBKR0z85s5P1YmLcRWUmqqtI0dsCNpVZCPXAiBxhvlTZBMnZBI5O1ZA9YDjw80GT3RjnRud4FZBos8sWJalYrRDqXcIJ9G8P5EP96ZCBX8mi8KFawjnrLUJufJSWpFQRPh5TvcBpAvwf6U8CKyBwSX8mZClGr1U7tZBlsxZAGZCvqlZCiRkPShaEd1eFIH4rFIbM",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        240
      ],
      "id": "7e11df41-61ab-4627-9af5-579030492b4a",
      "name": "Get Status Campaign"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Insight Campaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Insight Campaign1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Status Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Enable  Ads1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enable  Ads1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status Campaign": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91b8ea7e-163d-4573-8427-11b4e632183a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a383c02457267bcc44878635a0fa02b7d3206c5479bfc8890faa812e2bbd97"
  },
  "id": "bhoSypnbdX2De7fA",
  "tags": []
}